<html>
  <body>
      <h2 class="text-center">Summary</h2>
      <div class="container summer-container">
        <div>
            <div class="row summery-heading">
                <div class="col-11 descriptions">
                    <h5> Application Details</h5>
                </div>
                <div class="col-1">
                    <div><button mat-button routerLink="."><mat-icon>create</mat-icon></button></div>
                </div>
              </div>
            <div class="row">
              <div class="col-12"><br></div>
              <div class="col">
                  <p><b>Name:</b> asdfasdfasdfasf</p> 
              </div>
              <div class="col">
                  <p><b>Key:</b> ASDFASDFA</p> 
              </div>
              <div class="col">
                  <p><b>Methodology:</b> SCRUM</p>
              </div>
              <div class="col">
                  <p><b>Owner:</b> asdfasdfsadf</p>
              </div>
            </div>
            <div class="row">
              <div class="col">
                  <div>
                    <p><b>Description</b><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                </div>
              </div>
            </div>
        </div>
          
      </div><br>
      <div class="container summer-container">
          <div>
              <div class="row summery-heading">
                  <div class="col-11 descriptions">
                      <h5> Source Code Management</h5>
                  </div>
                  <div class="col-1">
                      <div><button mat-button routerLink="."><mat-icon>create</mat-icon></button></div>
                  </div>
                </div>
              <div class="row">
                <div class="col-12"><br></div>
                <div class="col">
                    <p><b>Branching Model:</b> Feature Branching</p> 
                </div>
                <div class="col">
                    <p><b>Repo Name:</b> asdfasdfasdfasf</p> 
                </div>
              </div>
              <!-- <div class="row">
                <div class="col">
                    <div class="description">
                      <p><b>Description</b><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                </div>
              </div> -->
          </div>
            
      </div><br>
      <div class="container summer-container">
          <div>
              <div class="row summery-heading">
                  <div class="col-11 descriptions">
                      <h5> Environment Configuration</h5>
                  </div>
                  <div class="col-1">
                      <div><button mat-button routerLink="."><mat-icon>create</mat-icon></button></div>
                  </div>
                </div>
              <div class="row">
                <div class="col-12"><br></div>
                <div class="col">
                    <p><b>Name:</b> asdfasdfasdfasf</p> 
                </div>
                <div class="col">
                    <p><b>Type:</b> ASDFASDFA</p> 
                </div>
                <div class="col">
                    <p><b>Platform:</b> SCRUM</p>
                </div>
              </div>
              <div class="row">
                <div class="col">
                    <div>
                      <p><b>Description</b><br>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                  </div>
                </div>
              </div>
          </div>
      </div><br>
      <div class="container pipeline">
          <div class="row summery-heading">
              <div class="col-11 descriptions">
                  <h5> Continuous Integration Pipeline</h5>
              </div>
              <div class="col-1">
                  <div><button mat-button routerLink="."><mat-icon>create</mat-icon></button></div>
              </div>
            </div>
        <div class="row">
          <div class="col-2">
            <div class="pipeline-steps pad">
                <h5>Code</h5>
                <b>scm:</b>
                <p>bitbucket</p>
                <b>url:</b>
                <p>{{pipeline.code.url}</p>
            </div>
          </div>
          <div class="col-2">
            <div class="pipeline-steps pad">
                <h5>Build</h5>
                <b>Tool:</b>
                <p>asdfasdfasdfasf</p>
                <b>Command:</b>
                <p>ng serve</p>
            </div>
          </div>
          <div class="col-2">
            <div class="pipeline-steps pad">
                <h5>Test</h5>
                <b>Branching Model:</b>
                <p> Feature Branching</p>
            </div>
              
          </div>
          <div class="col-3">
            <div class="pipeline-steps">
                <h5>Code Analysis</h5>
                <b>Sonar Properties:</b>
                <p>asdfasdf</p>
                <b>File</b>
                <p>asdfafs</p>
            </div>
          </div>
          <div class="col-3">
            <div class="pipeline-steps">
                <h5>Binary Management</h5>
                <b>Artifactory URL:</b>
                <p>adsfasdf</p>
                <b>Curl Command</b>
                <p>asdfasdfasdf</p>
            </div>
          </div>  
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <br><button mat-button class="btn-style">Submit</button>
            </div>
            <div class="col-12"><br><br></div>
          </div>
      </div>
      <br><br>
      
      
      
  </body>
</html>
