
<div class="container">
    <div class="row">
      <div class="col-sm-12">
        <h1>Welcome!</h1>
          <p>welcome {{name}}!<b> You can change your <a routerLink="/todos" routerLinkActive="router-link-active" >todo</a> here</b></p>
          <p>welcome Adodp<b> You can change your <a routerLink="/project" routerLinkActive="router-link-active" >project</a> here</b></p>
          <p>welcome Employee<b> You can check your <a routerLink="/employees" routerLinkActive="router-link-active" >Employee Details</a> here</b></p>
          <p>welcome Course<b> You can check your <a routerLink="/course" routerLinkActive="router-link-active" >Course Details</a> here</b></p>
      </div>
    </div>
    
  </div>
  
    